.complain-cover{
  width: 150px!important;
}
.mycard-margin{
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  .description-outer{
    display: table;
    height: 63px;
  }
  .description-inner{
    display: table-cell; vertical-align: middle
  }
  .cover-outer{
    display: table; height: 150px;
  }
  .cover-outer a{
    display: table-cell; vertical-align: middle
  }
  .cover-outer a img{
    height: 150px!important;
  }
}
.cover-outer{
  text-align: center;
}
.m-g-0{
  margin-left: 0px!important;
}
.font-11{
  font-size: 12px;
  margin-right: 7px;
}
