  <div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
      <!-- ============================================================== -->
      <!-- Bread crumb and right sidebar toggle -->
      <!-- ============================================================== -->
      <div class="row page-titles">
        <div class="col-md-5 align-self-center">
          <h4 class="text-themecolor">Liste des abonnés</h4>
        </div>
        <div class="col-md-7 align-self-center text-right">
          <div class="d-flex justify-content-end align-items-center">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Acceuil</a></li>
              <li class="breadcrumb-item active">Abonnés</li>
            </ol>
          </div>
        </div>
      </div>
      <!-- ============================================================== -->
      <!-- End Bread crumb and right sidebar toggle -->
      <!-- ============================================================== -->
      <!-- ============================================================== -->
      <!-- Start Page Content -->
      <!-- ============================================================== -->
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <nz-skeleton [nzLoading]="skeletonLoading" [nzActive]="true" [nzAvatar]="true">
              <nz-table #memberTable [nzData]="members" >
                <thead>
                <tr>
                  <th></th>
                  <th>Nom & Prénom(s)</th>
                  <th>Email</th>
                  <th>Date d'inscription</th>
                  <th>Dernière connexion</th>
                  <th>Statut</th>
                  <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let data of memberTable.data">
                  <td ><img width="30" src="{{getProfile(data.user_photo)}}" alt=""> </td>
                  <td>{{data.first_name}} {{data.last_name}}</td>
                  <td>{{data.email}}</td>
                  <td>{{data.created_on}}</td>
                  <td>{{data.last_login}}</td>
                  <td>
                    <nz-alert *ngIf="data.active" nzType="success" nzMessage="Activé"></nz-alert>
                    <nz-alert *ngIf="!data.active" nzType="error" nzMessage="Banni"></nz-alert>
                  </td>
                  <td class="action">
                    <a nz-popconfirm nzTitle="Voulez-vous vraiment bannir cet abonné ?" (nzOnConfirm)="confirmBan(data.id)" title="Bannir" nz-button nzType="danger" nzShape="circle" ><i nz-icon type="stop"></i></a>
                    <a routerLink="/dashboard/usercomplain/{{data.id}}" title="Voir plaintes" nz-button nzType="primary" nzShape="circle" ><i nz-icon type="eye"></i></a>
                  </td>
                </tr>
                </tbody>
              </nz-table>
              </nz-skeleton>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
  </div>
