<nz-skeleton [nzLoading]="skeletonLoading" [nzActive]="true">
  <div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
      <!-- ============================================================== -->
      <!-- Bread crumb and right sidebar toggle -->
      <!-- ============================================================== -->
      <div class="row page-titles">
        <div class="col-md-5 align-self-center">
          <h4 class="text-themecolor">Paramètres généraux de la plateforme</h4>
        </div>
        <div class="col-md-7 align-self-center text-right">
          <div class="d-flex justify-content-end align-items-center">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Acceuil</a></li>
              <li class="breadcrumb-item active">Paramètres généraux</li>
            </ol>
          </div>
        </div>
      </div>
      <!-- ============================================================== -->
      <!-- End Bread crumb and right sidebar toggle -->
      <!-- ============================================================== -->
      <!-- ============================================================== -->
      <!-- Start Page Content -->
      <!-- ============================================================== -->
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <form #form="ngForm">
                <div class="form-group">
                  <label for="siteName">Nom du site</label>
                  <input id="siteName" [(ngModel)]="siteName" type="text" name="siteName" ngModel required class="form-control">
                  <!--<span class="help-block text-muted">
                                              <small>A block of help text that breaks onto a new line and may extend beyond one line.</small>
                                          </span>-->
                </div>
                <div class="form-group">
                  <label for="siteDescription">Description du site</label>
                  <textarea required name="siteDescription" [(ngModel)]="siteDescription" id="siteDescription" rows="4" class="form-control"></textarea>
                </div>
                <div class="form-group">
                  <label>Logo du site</label>
                  <nz-upload class="avatar-uploader"
                             nzName="siteLogo"
                             nzListType="picture-card"
                             [nzShowUploadList]="false"
                             [nzBeforeUpload]="beforeLogoUpload">
                    <ng-container *ngIf="!logoUrl">
                      <i nz-icon type="plus"></i>
                      <div class="ant-upload-text">Téléversez</div>
                    </ng-container>
                    <img *ngIf="logoUrl" [src]="logoUrl" class="avatar uploadAvatar">
                  </nz-upload>
                  <span class="help-block text-muted">
                                            <small>Formats JPG|PNG supportés. Taille maximale 1Mo</small>
                                        </span>
                </div>
                <div class="form-group">
                  <label>Avatar par défaut</label>
                  <nz-upload class="avatar-uploader"
                             nzName="siteAvatar"
                             nzListType="picture-card"
                             [nzShowUploadList]="false"
                             [nzBeforeUpload]="beforeAvatarUpload">
                    <ng-container *ngIf="!avatarUrl">
                      <i nz-icon type="plus"></i>
                      <div class="ant-upload-text">Téléversez</div>
                    </ng-container>
                    <img *ngIf="avatarUrl" [src]="avatarUrl" class="avatar uploadAvatar">
                  </nz-upload>
                  <span class="help-block text-muted">
                                            <small>Formats JPG|PNG supportés. Taille maximale 1Mo</small>
                                        </span>
                </div>
                <div class="form-group">
                  <label>Image Arrière plan</label>
                  <nz-upload class="avatar-uploader"
                             nzName="siteBackgroundImage"
                             nzListType="picture-card"
                             [nzShowUploadList]="false"
                             [nzBeforeUpload]="beforeBackgroundUpload">
                    <ng-container *ngIf="!avatarUrl">
                      <i nz-icon type="plus"></i>
                      <div class="ant-upload-text">Téléversez</div>
                    </ng-container>
                    <img *ngIf="backgroundUrl" [src]="backgroundUrl" class="avatar uploadAvatar">
                  </nz-upload>
                  <span class="help-block text-muted">
                                            <small>Formats JPG|PNG supportés. Taille maximale 1Mo</small>
                                        </span>
                </div>
                <div class="form-group">
                  <label>Cover par défaut</label>
                  <nz-upload class="avatar-uploader"
                             nzName="siteBackgroundImage"
                             nzListType="picture-card"
                             [nzShowUploadList]="false"
                             [nzBeforeUpload]="beforesiteDefaultComplainCoverUpload">
                    <ng-container *ngIf="!defaultCoverUrl">
                      <i nz-icon type="plus"></i>
                      <div class="ant-upload-text">Téléversez</div>
                    </ng-container>
                    <img *ngIf="defaultCoverUrl" [src]="defaultCoverUrl" class="avatar uploadAvatar">
                  </nz-upload>
                  <span class="help-block text-muted">
                                            <small>Formats JPG|PNG supportés. Taille maximale 1Mo</small>
                                        </span>
                </div>
                <div class="form-group">
                  <button  class="mySubmit" [disabled]="!form.valid && !logoUrl && !avatarUrl"
                           (click)="submit(form)" [nzLoading]="submittingIsLoading"
                           nz-button nzType="primary" type="button">Soumettre <i nz-icon type="check"></i></button>
                </div>


              </form>
            </div>
          </div>
        </div>
      </div>

    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
  </div>

</nz-skeleton>
